Repository microsoft/accessibility-insights-action: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

pipelines/ado-extension-canary-validation.yaml:

# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

trigger: none

pr:
    branches:
        include:
            - main
    paths:
        include:
            - dev
            - pipelines/ado-extension-canary-validation.yaml
            - pipelines/ado-extension-validation-template.yaml

resources:
    pipelines:
        - pipeline: prod-release
          source: accessibility-insights-ado-extension-release-canary
          trigger:
              stages:
                  - package_publish_canary

pool:
    vmImage: ubuntu-latest

extends:
    template: ado-extension-validation-template.yaml
    parameters:
        taskUnderTest: accessibility-insights.canary.task.accessibility-insights@3

pipelines/ado-extension-prod-validation.yaml:

# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

trigger: none

pr:
    branches:
        include:
            - main
    paths:
        include:
            - dev
            - pipelines/ado-extension-prod-validation.yaml
            - pipelines/ado-extension-validation-template.yaml

resources:
    pipelines:
        - pipeline: prod-release
          source: accessibility-insights-ado-extension-release-production
          trigger:
              stages:
                  - package_publish_prod

pool:
    vmImage: ubuntu-latest

extends:
    template: ado-extension-validation-template.yaml
    parameters:
        taskUnderTest: accessibility-insights.prod.task.accessibility-insights@2

pipelines/ado-extension-staging-validation.yaml:

# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

trigger: none

pr:
    branches:
        include:
            - main
    paths:
        include:
            - dev
            - pipelines/ado-extension-staging-validation.yaml
            - pipelines/ado-extension-validation-template.yaml

resources:
    pipelines:
        - pipeline: prod-release
          source: accessibility-insights-ado-extension-release-production
          trigger:
              stages:
                  - package_publish_staging

pool:
    vmImage: ubuntu-latest

extends:
    template: ado-extension-validation-template.yaml
    parameters:
        taskUnderTest: accessibility-insights.staging.task.accessibility-insights@3

Simplify: remove url/static site headings?
  docs/ado-extension-inputs.md
  packages/ado-extension/scripts/documentation.js
Due: none

Update ado-extension-usage.md
  docs/ado-extension-usage.md
Due: none

Make `singleWorker` and `uploadOutputArtifact` not required
  packages/ado-extension/task.json
Due: none

Adding unit test
  packages/shared/src/telemetry/telemetry-error-collector.spec.ts
Due: none

Refactoring writeConfigurationError method to send telemetry
  packages/shared/src/input-validator.ts
  packages/shared/src/scanner/scanner.ts
Due: none

Adding TelemetryErrorCollector coverage in Scanner unit tests
  packages/shared/src/scanner/scanner.spec.ts
Due: none

Cleaning errorList after InputValidator ends
  packages/shared/src/input-validator.spec.ts
  packages/shared/src/input-validator.ts
Due: none

Tighten up product names
  README.md
  docs/ado-extension-usage.md
Due: none

Refactoring error collector object
  packages/shared/src/input-validator.spec.ts
  packages/shared/src/input-validator.ts
  packages/shared/src/scanner/scanner.ts
  packages/shared/src/telemetry/telemetry-error-collector.spec.ts
  packages/shared/src/telemetry/telemetry-error-collector.ts
Due: none

Removing unnecesary comments
  packages/shared/src/input-validator.spec.ts
Due: none

switch pipeline resource for validation to run on canary
  pipelines/ado-extension-canary-validation.yaml
Due: pipelines/ado-extension-canary-validation.yaml

update to use pipeline variables
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

add variable group to yaml file
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

add to staging
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-staging-validation.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-staging-validation.yaml

feat(docs-tests-telemetry): Point ADO extension documentation to Eng Hub, general updates (#1418)
  README.md
  docs/ado-extension-overview.md
  docs/ado-extension-usage.md
  docs/ado-extension/migrating-from-v1-to-v2.md
Due: none

Flushing telemetry events after timeout
  packages/shared/src/scanner/scanner.ts
Due: none

Flushing telemetry events after timeout with await statement
  packages/shared/src/scanner/scanner.ts
Due: none

use variable group for auth secrets
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

remove test branch and key vault task
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

update display name
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

Sending timeout error event to telemetry
  packages/shared/src/scanner/scanner.ts
Due: none

update canary version to match
  pipelines/ado-extension-canary-validation.yaml
Due: pipelines/ado-extension-canary-validation.yaml

Preventing empty error event from beeing sent
  packages/ado-extension/src/progress-reporter/telemetry/telemetry-sender.ts
Due: none

Fixing unit tests
  packages/ado-extension/src/progress-reporter/telemetry/telemetry-sender.spec.ts
Due: none

feat(docs-tests-telemetry): New Telemetry Error Sender (#1395)
  packages/ado-extension/src/progress-reporter/telemetry/telemetry-sender.spec.ts
  packages/ado-extension/src/progress-reporter/telemetry/telemetry-sender.ts
  packages/shared/src/input-validator.spec.ts
  packages/shared/src/input-validator.ts
  packages/shared/src/scanner/scanner.spec.ts
  packages/shared/src/scanner/scanner.ts
  packages/shared/src/telemetry/telemetry-error-collector.spec.ts
  packages/shared/src/telemetry/telemetry-error-collector.ts
  packages/shared/src/telemetry/telemetry-event.ts
Due: none

remove pr triggers
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-staging-validation.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-staging-validation.yaml

remove testAuth parameter, adjust prod validation yaml
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-prod-validation.yaml
  pipelines/ado-extension-staging-validation.yaml
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

feat(docs-tests-telemetry): Add auth testing to canary (#1430)
  pipelines/ado-extension-canary-validation.yaml
  pipelines/ado-extension-prod-validation.yaml
  pipelines/ado-extension-staging-validation.yaml
  pipelines/ado-extension-validation-template.yaml
Due: pipelines/ado-extension-canary-validation.yaml, pipelines/ado-extension-prod-validation.yaml, pipelines/ado-extension-staging-validation.yaml

Copyedits
  docs/ado-extension-inputs.md
  packages/ado-extension/scripts/documentation.js
  packages/ado-extension/task.json
Due: none

Copyedits
  docs/ado-extension-inputs.md
  packages/ado-extension/task.json
Due: none

Copyedits
  docs/ado-extension-inputs.md
  packages/ado-extension/scripts/documentation.js
Due: none

Improve clarity
  packages/ado-extension/task.json
Due: none

feat(docs-tests-telemetry): Make `singleWorker` and `uploadOutputArtifact` not required (#1427)
  packages/ado-extension/task.json
Due: none

Update ado-extension-inputs.md
  docs/ado-extension-inputs.md
Due: none

Simplify
  docs/ado-extension-inputs.md
  packages/ado-extension/scripts/documentation.js
  packages/ado-extension/task.json
Due: none

Update documentation.js
  packages/ado-extension/scripts/documentation.js
Due: none

Document options
  docs/ado-extension-inputs.md
  packages/ado-extension/scripts/documentation.js
Due: none

Update task.json
  packages/ado-extension/task.json
Due: none
